<template>
  <v-app id="inspire">
    <v-navigation-drawer fixed v-model="drawer" app>
      <v-list dense></v-list>
    </v-navigation-drawer>
    <v-toolbar color="indigo" dark fixed app>
      <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
      <v-toolbar-title>Splitted Cell Viz</v-toolbar-title>
    </v-toolbar>
    <v-content>
      <v-container fluid fill-height>
        <v-layout justify-center align-center>
          <v-flex text-xs-center class="colflex">
            <SplittedCellViz :dataString="dataText" />
            <textarea v-model="dataText" class="textbox"></textarea>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>
<script>
// load vue and vuetify
import Vue from "vue";
import Vuetify from "vuetify";
Vue.use(Vuetify);

import SplittedCellViz from "./SplittedCellViz";

// load styles
import "../node_modules/material-design-icons-iconfont/dist/material-design-icons.scss";
import "../node_modules/vuetify/dist/vuetify.min.css";

export default {
  components: { SplittedCellViz },
  data() {
    return {
      tab: {
        lab: [
          ["nb items", ["100", "1000", "10000", "100000", "1000000"]],
          [
            "item weight sum",
            ["1000", "10000", "100000", "1000000", "10000000", "100000000"]
          ],
          [
            "knapsack capacity (% item weight sum)",
            [
              "0.0",
              "0.1",
              "0.2",
              "0.3",
              "0.4",
              "0.5",
              "0.6",
              "0.7",
              "0.8",
              "0.9"
            ]
          ]
        ],
        tab: [
          [
            [
              [{ c: "rgb(8,247,0)", t: "0.1 ms" }],
              [{ c: "rgb(7,248,0)", t: "0.1 ms" }],
              [{ c: "rgb(7,248,0)", t: "0 ms" }],
              [{ c: "rgb(8,247,0)", t: "0.1 ms" }],
              [{ c: "rgb(6,249,0)", t: "0 ms" }],
              [{ c: "rgb(11,244,0)", t: "0.2 ms" }],
              [{ c: "rgb(7,248,0)", t: "0 ms" }],
              [{ c: "rgb(9,246,0)", t: "0.1 ms" }],
              [{ c: "rgb(6,249,0)", t: "0 ms" }],
              [{ c: "rgb(8,247,0)", t: "0.1 ms" }]
            ],
            [
              [{ c: "rgb(6,249,0)", t: "0 ms" }],
              [{ c: "rgb(9,246,0)", t: "0.1 ms" }],
              [{ c: "rgb(9,246,0)", t: "0.1 ms" }],
              [{ c: "rgb(10,245,0)", t: "0.1 ms" }],
              [{ c: "rgb(7,248,0)", t: "0 ms" }],
              [{ c: "rgb(11,244,0)", t: "0.2 ms" }],
              [{ c: "rgb(8,247,0)", t: "0.1 ms" }],
              [{ c: "rgb(7,248,0)", t: "0.1 ms" }],
              [{ c: "rgb(7,248,0)", t: "0.1 ms" }],
              [{ c: "rgb(7,248,0)", t: "0.1 ms" }]
            ],
            [
              [{ c: "rgb(6,249,0)", t: "0 ms" }],
              [{ c: "rgb(6,249,0)", t: "0 ms" }],
              [{ c: "rgb(9,246,0)", t: "0.1 ms" }],
              [{ c: "rgb(6,249,0)", t: "0 ms" }],
              [{ c: "rgb(8,247,0)", t: "0.1 ms" }],
              [{ c: "rgb(9,246,0)", t: "0.1 ms" }],
              [{ c: "rgb(9,246,0)", t: "0.1 ms" }],
              [{ c: "rgb(7,248,0)", t: "0.1 ms" }],
              [{ c: "rgb(7,248,0)", t: "0 ms" }],
              [{ c: "rgb(9,246,0)", t: "0.1 ms" }]
            ],
            [
              [{ c: "rgb(6,249,0)", t: "0 ms" }],
              [{ c: "rgb(7,248,0)", t: "0.1 ms" }],
              [{ c: "rgb(9,246,0)", t: "0.1 ms" }],
              [{ c: "rgb(8,247,0)", t: "0.1 ms" }],
              [{ c: "rgb(5,250,0)", t: "0 ms" }],
              [{ c: "rgb(8,247,0)", t: "0.1 ms" }],
              [{ c: "rgb(9,246,0)", t: "0.1 ms" }],
              [{ c: "rgb(8,247,0)", t: "0.1 ms" }],
              [{ c: "rgb(6,249,0)", t: "0 ms" }],
              [{ c: "rgb(8,247,0)", t: "0.1 ms" }]
            ],
            [
              [{ c: "rgb(7,248,0)", t: "0 ms" }],
              [{ c: "rgb(7,248,0)", t: "0 ms" }],
              [{ c: "rgb(9,246,0)", t: "0.1 ms" }],
              [{ c: "rgb(7,248,0)", t: "0 ms" }],
              [{ c: "rgb(7,248,0)", t: "0.1 ms" }],
              [{ c: "rgb(8,247,0)", t: "0.1 ms" }],
              [{ c: "rgb(10,245,0)", t: "0.1 ms" }],
              [{ c: "rgb(9,246,0)", t: "0.1 ms" }],
              [{ c: "rgb(8,247,0)", t: "0.1 ms" }],
              [{ c: "rgb(6,249,0)", t: "0 ms" }]
            ],
            [
              [{ c: "rgb(6,249,0)", t: "0 ms" }],
              [{ c: "rgb(7,248,0)", t: "0 ms" }],
              [{ c: "rgb(6,249,0)", t: "0 ms" }],
              [{ c: "rgb(8,247,0)", t: "0.1 ms" }],
              [{ c: "rgb(10,245,0)", t: "0.1 ms" }],
              [{ c: "rgb(7,248,0)", t: "0.1 ms" }],
              [{ c: "rgb(7,248,0)", t: "0.1 ms" }],
              [{ c: "rgb(6,249,0)", t: "0 ms" }],
              [{ c: "rgb(8,247,0)", t: "0.1 ms" }],
              [{ c: "rgb(8,247,0)", t: "0.1 ms" }]
            ]
          ],
          [
            [
              [{ c: "rgb(8,247,0)", t: "0.1 ms" }],
              [{ c: "rgb(12,243,0)", t: "0.3 ms" }],
              [{ c: "rgb(12,243,0)", t: "0.2 ms" }],
              [{ c: "rgb(8,247,0)", t: "0.1 ms" }],
              [{ c: "rgb(9,246,0)", t: "0.1 ms" }],
              [{ c: "rgb(9,246,0)", t: "0.1 ms" }],
              [{ c: "rgb(9,246,0)", t: "0.1 ms" }],
              [{ c: "rgb(13,242,0)", t: "0.3 ms" }],
              [{ c: "rgb(11,244,0)", t: "0.2 ms" }],
              [{ c: "rgb(9,246,0)", t: "0.1 ms" }]
            ],
            [
              [{ c: "rgb(8,247,0)", t: "0.1 ms" }],
              [{ c: "rgb(8,247,0)", t: "0.1 ms" }],
              [{ c: "rgb(12,243,0)", t: "0.2 ms" }],
              [{ c: "rgb(17,238,0)", t: "0.7 ms" }],
              [{ c: "rgb(17,238,0)", t: "0.7 ms" }],
              [{ c: "rgb(16,239,0)", t: "0.5 ms" }],
              [{ c: "rgb(12,243,0)", t: "0.3 ms" }],
              [{ c: "rgb(10,245,0)", t: "0.1 ms" }],
              [{ c: "rgb(18,237,0)", t: "0.7 ms" }],
              [{ c: "rgb(14,241,0)", t: "0.4 ms" }]
            ],
            [
              [{ c: "rgb(8,247,0)", t: "0.1 ms" }],
              [{ c: "rgb(20,235,0)", t: "1 ms" }],
              [{ c: "rgb(11,244,0)", t: "0.2 ms" }],
              [{ c: "rgb(22,233,0)", t: "1.5 ms" }],
              [{ c: "rgb(11,244,0)", t: "0.2 ms" }],
              [{ c: "rgb(20,235,0)", t: "1 ms" }],
              [{ c: "rgb(14,241,0)", t: "0.4 ms" }],
              [{ c: "rgb(15,240,0)", t: "0.5 ms" }],
              [{ c: "rgb(10,245,0)", t: "0.2 ms" }],
              [{ c: "rgb(14,241,0)", t: "0.3 ms" }]
            ],
            [
              [{ c: "rgb(8,247,0)", t: "0.1 ms" }],
              [{ c: "rgb(12,243,0)", t: "0.2 ms" }],
              [{ c: "rgb(14,241,0)", t: "0.3 ms" }],
              [{ c: "rgb(14,241,0)", t: "0.4 ms" }],
              [{ c: "rgb(15,240,0)", t: "0.4 ms" }],
              [{ c: "rgb(16,239,0)", t: "0.6 ms" }],
              [{ c: "rgb(18,237,0)", t: "0.7 ms" }],
              [{ c: "rgb(21,234,0)", t: "1.3 ms" }],
              [{ c: "rgb(19,236,0)", t: "0.8 ms" }],
              [{ c: "rgb(14,241,0)", t: "0.3 ms" }]
            ],
            [
              [{ c: "rgb(8,247,0)", t: "0.1 ms" }],
              [{ c: "rgb(15,240,0)", t: "0.4 ms" }],
              [{ c: "rgb(13,242,0)", t: "0.3 ms" }],
              [{ c: "rgb(12,243,0)", t: "0.3 ms" }],
              [{ c: "rgb(10,245,0)", t: "0.1 ms" }],
              [{ c: "rgb(12,243,0)", t: "0.3 ms" }],
              [{ c: "rgb(19,236,0)", t: "0.9 ms" }],
              [{ c: "rgb(16,239,0)", t: "0.5 ms" }],
              [{ c: "rgb(16,239,0)", t: "0.5 ms" }],
              [{ c: "rgb(16,239,0)", t: "0.6 ms" }]
            ],
            [
              [{ c: "rgb(8,247,0)", t: "0.1 ms" }],
              [{ c: "rgb(8,247,0)", t: "0.1 ms" }],
              [{ c: "rgb(20,235,0)", t: "1.1 ms" }],
              [{ c: "rgb(11,244,0)", t: "0.2 ms" }],
              [{ c: "rgb(21,234,0)", t: "1.1 ms" }],
              [{ c: "rgb(12,243,0)", t: "0.3 ms" }],
              [{ c: "rgb(15,240,0)", t: "0.4 ms" }],
              [{ c: "rgb(17,238,0)", t: "0.6 ms" }],
              [{ c: "rgb(15,240,0)", t: "0.5 ms" }],
              [{ c: "rgb(14,241,0)", t: "0.4 ms" }]
            ]
          ],
          [
            [
              [{ c: "rgb(16,239,0)", t: "0.5 ms" }],
              [{ c: "rgb(14,241,0)", t: "0.4 ms" }],
              [{ c: "rgb(18,237,0)", t: "0.8 ms" }],
              [{ c: "rgb(16,239,0)", t: "0.6 ms" }],
              [{ c: "rgb(14,241,0)", t: "0.3 ms" }],
              [{ c: "rgb(14,241,0)", t: "0.4 ms" }],
              [{ c: "rgb(15,240,0)", t: "0.5 ms" }],
              [{ c: "rgb(21,234,0)", t: "1.2 ms" }],
              [{ c: "rgb(15,240,0)", t: "0.4 ms" }],
              [{ c: "rgb(14,241,0)", t: "0.3 ms" }]
            ],
            [
              [{ c: "rgb(15,240,0)", t: "0.4 ms" }],
              [{ c: "rgb(29,226,0)", t: "3 ms" }],
              [{ c: "rgb(17,238,0)", t: "0.7 ms" }],
              [{ c: "rgb(26,229,0)", t: "2.1 ms" }],
              [{ c: "rgb(26,229,0)", t: "2.1 ms" }],
              [{ c: "rgb(31,224,0)", t: "4 ms" }],
              [{ c: "rgb(23,232,0)", t: "1.6 ms" }],
              [{ c: "rgb(15,240,0)", t: "0.5 ms" }],
              [{ c: "rgb(20,235,0)", t: "1 ms" }],
              [{ c: "rgb(17,238,0)", t: "0.7 ms" }]
            ],
            [
              [{ c: "rgb(13,242,0)", t: "0.3 ms" }],
              [{ c: "rgb(28,227,0)", t: "2.8 ms" }],
              [{ c: "rgb(40,215,0)", t: "8.1 ms" }],
              [{ c: "rgb(38,217,0)", t: "7.1 ms" }],
              [{ c: "rgb(34,221,0)", t: "5 ms" }],
              [{ c: "rgb(40,215,0)", t: "8 ms" }],
              [{ c: "rgb(21,234,0)", t: "1.2 ms" }],
              [{ c: "rgb(41,214,0)", t: "8.3 ms" }],
              [{ c: "rgb(27,228,0)", t: "2.4 ms" }],
              [{ c: "rgb(15,240,0)", t: "0.4 ms" }]
            ],
            [
              [{ c: "rgb(15,240,0)", t: "0.4 ms" }],
              [{ c: "rgb(32,223,0)", t: "4 ms" }],
              [{ c: "rgb(45,210,0)", t: "11.5 ms" }],
              [{ c: "rgb(32,223,0)", t: "4.3 ms" }],
              [{ c: "rgb(49,206,0)", t: "14.7 ms" }],
              [{ c: "rgb(46,209,0)", t: "11.9 ms" }],
              [{ c: "rgb(43,212,0)", t: "9.8 ms" }],
              [{ c: "rgb(38,217,0)", t: "6.8 ms" }],
              [{ c: "rgb(16,239,0)", t: "0.6 ms" }],
              [{ c: "rgb(24,231,0)", t: "1.8 ms" }]
            ],
            [
              [{ c: "rgb(13,242,0)", t: "0.3 ms" }],
              [{ c: "rgb(37,218,0)", t: "6.6 ms" }],
              [{ c: "rgb(31,224,0)", t: "3.7 ms" }],
              [{ c: "rgb(34,221,0)", t: "4.8 ms" }],
              [{ c: "rgb(26,229,0)", t: "2.1 ms" }],
              [{ c: "rgb(31,224,0)", t: "3.7 ms" }],
              [{ c: "rgb(35,220,0)", t: "5.5 ms" }],
              [{ c: "rgb(35,220,0)", t: "5.2 ms" }],
              [{ c: "rgb(36,219,0)", t: "5.8 ms" }],
              [{ c: "rgb(39,216,0)", t: "7.3 ms" }]
            ],
            [
              [{ c: "rgb(14,241,0)", t: "0.3 ms" }],
              [{ c: "rgb(36,219,0)", t: "5.6 ms" }],
              [{ c: "rgb(38,217,0)", t: "7.2 ms" }],
              [{ c: "rgb(40,215,0)", t: "8.3 ms" }],
              [{ c: "rgb(46,209,0)", t: "11.8 ms" }],
              [{ c: "rgb(41,214,0)", t: "8.3 ms" }],
              [{ c: "rgb(34,221,0)", t: "5.1 ms" }],
              [{ c: "rgb(34,221,0)", t: "5 ms" }],
              [{ c: "rgb(20,235,0)", t: "1 ms" }],
              [{ c: "rgb(33,222,0)", t: "4.7 ms" }]
            ]
          ],
          [
            [
              [{ c: "rgb(34,221,0)", t: "5 ms" }],
              [{ c: "rgb(26,229,0)", t: "2.3 ms" }],
              [{ c: "rgb(27,228,0)", t: "2.4 ms" }],
              [{ c: "rgb(28,227,0)", t: "2.9 ms" }],
              [{ c: "rgb(38,217,0)", t: "7 ms" }],
              [{ c: "rgb(29,226,0)", t: "3 ms" }],
              [{ c: "rgb(30,225,0)", t: "3.3 ms" }],
              [{ c: "rgb(29,226,0)", t: "3 ms" }],
              [{ c: "rgb(29,226,0)", t: "3 ms" }],
              [{ c: "rgb(31,224,0)", t: "3.7 ms" }]
            ],
            [
              [{ c: "rgb(29,226,0)", t: "3.2 ms" }],
              [{ c: "rgb(34,221,0)", t: "4.9 ms" }],
              [{ c: "rgb(27,228,0)", t: "2.5 ms" }],
              [{ c: "rgb(30,225,0)", t: "3.4 ms" }],
              [{ c: "rgb(31,224,0)", t: "3.8 ms" }],
              [{ c: "rgb(30,225,0)", t: "3.5 ms" }],
              [{ c: "rgb(42,213,0)", t: "9.2 ms" }],
              [{ c: "rgb(35,220,0)", t: "5.4 ms" }],
              [{ c: "rgb(29,226,0)", t: "3 ms" }],
              [{ c: "rgb(31,224,0)", t: "3.7 ms" }]
            ],
            [
              [{ c: "rgb(27,228,0)", t: "2.6 ms" }],
              [{ c: "rgb(58,197,0)", t: "23.5 ms" }],
              [{ c: "rgb(36,219,0)", t: "6.1 ms" }],
              [{ c: "rgb(63,192,0)", t: "30.5 ms" }],
              [{ c: "rgb(46,209,0)", t: "12 ms" }],
              [{ c: "rgb(57,198,0)", t: "22.7 ms" }],
              [{ c: "rgb(48,207,0)", t: "13.7 ms" }],
              [{ c: "rgb(40,215,0)", t: "8 ms" }],
              [{ c: "rgb(37,218,0)", t: "6.5 ms" }],
              [{ c: "rgb(42,213,0)", t: "9 ms" }]
            ],
            [
              [{ c: "rgb(29,226,0)", t: "3.2 ms" }],
              [{ c: "rgb(68,187,0)", t: "38.9 ms" }],
              [{ c: "rgb(76,179,0)", t: "53.1 ms" }],
              [{ c: "rgb(67,188,0)", t: "36.4 ms" }],
              [{ c: "rgb(80,175,0)", t: "63.2 ms" }],
              [{ c: "rgb(84,171,0)", t: "73.9 ms" }],
              [{ c: "rgb(81,174,0)", t: "65.7 ms" }],
              [{ c: "rgb(56,199,0)", t: "21.3 ms" }],
              [{ c: "rgb(64,191,0)", t: "32.6 ms" }],
              [{ c: "rgb(56,199,0)", t: "21.7 ms" }]
            ],
            [
              [{ c: "rgb(32,223,0)", t: "4.3 ms" }],
              [{ c: "rgb(80,175,0)", t: "62.5 ms" }],
              [{ c: "rgb(70,185,0)", t: "42.5 ms" }],
              [{ c: "rgb(44,211,0)", t: "10.4 ms" }],
              [{ c: "rgb(70,185,0)", t: "41.4 ms" }],
              [{ c: "rgb(61,194,0)", t: "27.8 ms" }],
              [{ c: "rgb(73,182,0)", t: "48.4 ms" }],
              [{ c: "rgb(70,185,0)", t: "42.3 ms" }],
              [{ c: "rgb(65,190,0)", t: "34.2 ms" }],
              [{ c: "rgb(42,213,0)", t: "9 ms" }]
            ],
            [
              [{ c: "rgb(32,223,0)", t: "4.3 ms" }],
              [{ c: "rgb(74,181,0)", t: "49 ms" }],
              [{ c: "rgb(65,190,0)", t: "34.1 ms" }],
              [{ c: "rgb(99,156,0)", t: "117.4 ms" }],
              [{ c: "rgb(99,156,0)", t: "120 ms" }],
              [{ c: "rgb(62,193,0)", t: "29 ms" }],
              [{ c: "rgb(73,182,0)", t: "48.4 ms" }],
              [{ c: "rgb(75,180,0)", t: "50.9 ms" }],
              [{ c: "rgb(58,197,0)", t: "24.1 ms" }],
              [{ c: "rgb(57,198,0)", t: "23.2 ms" }]
            ]
          ],
          [
            [
              [{ c: "rgb(71,184,0)", t: "43.5 ms" }],
              [{ c: "rgb(63,192,0)", t: "31.6 ms" }],
              [{ c: "rgb(58,197,0)", t: "23.9 ms" }],
              [{ c: "rgb(54,201,0)", t: "19.5 ms" }],
              [{ c: "rgb(59,196,0)", t: "25.6 ms" }],
              [{ c: "rgb(64,191,0)", t: "31.8 ms" }],
              [{ c: "rgb(65,190,0)", t: "34 ms" }],
              [{ c: "rgb(73,182,0)", t: "48 ms" }],
              [{ c: "rgb(69,186,0)", t: "40.5 ms" }],
              [{ c: "rgb(64,191,0)", t: "32.8 ms" }]
            ],
            [
              [{ c: "rgb(64,191,0)", t: "32.8 ms" }],
              [{ c: "rgb(67,188,0)", t: "37.2 ms" }],
              [{ c: "rgb(67,188,0)", t: "37.5 ms" }],
              [{ c: "rgb(68,187,0)", t: "38.4 ms" }],
              [{ c: "rgb(76,179,0)", t: "53.7 ms" }],
              [{ c: "rgb(74,181,0)", t: "50.6 ms" }],
              [{ c: "rgb(75,180,0)", t: "52.4 ms" }],
              [{ c: "rgb(80,175,0)", t: "62.3 ms" }],
              [{ c: "rgb(69,186,0)", t: "40.9 ms" }],
              [{ c: "rgb(62,193,0)", t: "29.1 ms" }]
            ],
            [
              [{ c: "rgb(69,186,0)", t: "40.7 ms" }],
              [{ c: "rgb(82,173,0)", t: "67.7 ms" }],
              [{ c: "rgb(63,192,0)", t: "31 ms" }],
              [{ c: "rgb(67,188,0)", t: "36.9 ms" }],
              [{ c: "rgb(86,169,0)", t: "78.1 ms" }],
              [{ c: "rgb(72,183,0)", t: "45.4 ms" }],
              [{ c: "rgb(67,188,0)", t: "37.4 ms" }],
              [{ c: "rgb(75,180,0)", t: "51 ms" }],
              [{ c: "rgb(69,186,0)", t: "41.3 ms" }],
              [{ c: "rgb(69,186,0)", t: "40.5 ms" }]
            ],
            [
              [{ c: "rgb(68,187,0)", t: "38.8 ms" }],
              [{ c: "rgb(122,133,0)", t: "224 ms" }],
              [{ c: "rgb(132,123,0)", t: "279.8 ms" }],
              [{ c: "rgb(148,107,0)", t: "396.1 ms" }],
              [{ c: "rgb(93,162,0)", t: "97.9 ms" }],
              [{ c: "rgb(146,109,0)", t: "381 ms" }],
              [{ c: "rgb(136,119,0)", t: "308.9 ms" }],
              [{ c: "rgb(95,160,0)", t: "104.2 ms" }],
              [{ c: "rgb(114,141,0)", t: "180.8 ms" }],
              [{ c: "rgb(107,148,0)", t: "147.8 ms" }]
            ],
            [
              [{ c: "rgb(66,189,0)", t: "35.8 ms" }],
              [{ c: "rgb(115,140,0)", t: "186.6 ms" }],
              [{ c: "rgb(122,133,0)", t: "222.9 ms" }],
              [{ c: "rgb(176,79,0)", t: "662.2 ms" }],
              [{ c: "rgb(167,88,0)", t: "567.3 ms" }],
              [{ c: "rgb(201,54,0)", t: "992.2 ms" }],
              [{ c: "rgb(204,51,0)", t: "1025.5 ms" }],
              [{ c: "rgb(146,109,0)", t: "383.1 ms" }],
              [{ c: "rgb(148,107,0)", t: "393.8 ms" }],
              [{ c: "rgb(160,95,0)", t: "497.7 ms" }]
            ],
            [
              [{ c: "rgb(72,183,0)", t: "45 ms" }],
              [{ c: "rgb(110,145,0)", t: "162.2 ms" }],
              [{ c: "rgb(114,141,0)", t: "183.3 ms" }],
              [{ c: "rgb(174,81,0)", t: "642.9 ms" }],
              [{ c: "rgb(202,53,0)", t: "1000.3 ms" }],
              [{ c: "rgb(215,40,0)", t: "1207.2 ms" }],
              [{ c: "rgb(214,41,0)", t: "1193.5 ms" }],
              [{ c: "rgb(96,159,0)", t: "106.9 ms" }],
              [{ c: "rgb(126,129,0)", t: "244.2 ms" }],
              [{ c: "rgb(94,161,0)", t: "102.5 ms" }]
            ]
          ]
        ]
      },
      drawer: null
    };
  },
  mounted: function() {
    let usp = new URLSearchParams(window.location.search.slice(1));
    let self = this
    if (usp.has("u")) {  // if url requested
        let u = usp.get("u")
        // console.log(u);
        fetch(u)
            .then(function(res) {
                // console.log(res) 
                return res.blob()
            })
            .then(function(blob) {
                // console.log(blob)
                var reader = new FileReader()
                reader.onload = function(event) {
                    self.dataText = reader.result
                }
                reader.readAsText(blob)
            })
    }
  },
  methods: {},
  computed: {
    dataText: {
      set: function(newValue) {
        try {
            this.tab = JSON.parse(newValue);
        } catch (e) {
          return {
            tab: [
              [
                [[{ c: "red", t: "t1" }]],
                [[{ c: "red", t: "t1" }], [{ c: "red", t: "t1" }]]
              ],
              [
                [[{ c: "red", t: "t1" }]],
                [
                  [{ c: "red", t: "t1" }, { c: "red", t: "t1" }],
                  [{ c: "red", t: "t1" }, { c: "red", t: "t1" }]
                ]
              ]
            ]
          };
        }
      },
      get: function() {
        return JSON.stringify(this.tab, null, 4);
      }
    }
  }
};
</script>
<style lang="scss">
.colflex {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.textbox {
  margin-left: 50px;
  background-color: white;
  border: 1px solid gray;
  width: 400px;
}
</style>
