<template>
  <div id="main">
      <div id="insideMain">
          <svg id="splittedCellVizSvg" :width="width" :height="height" />
      </div>
    
  </div>
</template>
<script>
import * as d3 from "d3";

export default {
    props: ['dataString'],
    data() {
        return {
            width: 600,
            height: 600
        };
    },
    mounted: function() {
        this.initSvg();
    },
    updated: function() {
        this.initSvg();
    },
    computed: {
        tab: function() {
            return JSON.parse(this.dataString)["tab"]
        },
        lab: function() {
            return JSON.parse(this.dataString)["lab"]
        },
        svg: function() {
            return document.querySelector("#splittedCellVizSvg");
        },
        svgd3: function() {
            return d3.select("#splittedCellVizSvg");
        }
    },
    watch: {
        dataString: function() {
            this.initSvg();
        }
    },
    methods: {
        initSvg: function() {
            this.deleteInstrSvg();
            let svgd3 = this.svgd3;

            // define tooltips handlers
            let tooltip = d3.select("#insideMain")
                .append("div")
                .style("opacity", 0)
                .style("position", "relative")
                .style("width", "300px")
                .attr("class", "tooltip")
                .style("background-color", "white")
                .style("border", "solid")
                .style("border-width", "2px")
                .style("border-radius", "5px")
                .style("padding", "5px")
            
            let mouseOver = function(d) {
                return function() {
                    tooltip.transition()
                        .attr("duration", 0.25)
                        .style("opacity", "1")
                    d3.select(this)
                        .transition()
                            .attr("duration", 0.25)
                            .attr("opacity", ".4")
                    }
            }

            let self = this
            let mouseMove = function(d) {
                return function() {
                    tooltip
                        .html(d.t)
                        .style("left", (d3.mouse(this)[0])+"px")
                        .style("top", (d3.mouse(this)[1]-self.height+10)+"px")
                }
            }

            let mouseLeave = function(d) {
                return function() {
                    tooltip.transition()
                        .attr("duration", 0.25)
                        .style("opacity", "0")
                    d3.select(this)
                        .transition()
                            .attr("duration", 0.25)
                            .attr("opacity", "1")
                }
            }

            // create grid
            let InitialOffsetX = 0
            let InitialOffsetY = 0
            let sepCell = 5
            let h = this.tab.length
            let w = this.tab[0].length
            let sx = (this.width-InitialOffsetX)/w;
            let sy = (this.height-InitialOffsetY)/h;
            let lab = this.lab
            if ( lab ) {  // draw labels
                InitialOffsetX = 100
                InitialOffsetY = 100
                sx = (this.width-InitialOffsetX)/w;
                sy = (this.height-InitialOffsetY)/h;
                let labsize = lab.length
                if ( labsize >= 1 ) {  // y axis
                    let d = lab[0];
                    let n = d[0];
                    let t = d[1];
                    svgd3.append("text")
                            .text(n)
                            .style("text-anchor", "middle")
                            .attr("transform", "rotate(-90)")
                            .attr("x", -(InitialOffsetY+(this.height-InitialOffsetY)/2))
                            .attr("y", 60);
                    for ( let i = 0 ; i < t.length ; i++ ) {
                        svgd3.append("text")
                            .text(t[i])
                            .style("text-anchor", "middle")
                            .attr("transform", "rotate(-90)")
                            .attr("x", -(InitialOffsetY+sy*(i+.5)))
                            .attr("y", 90);
                    }
                }
                if ( labsize >= 2 ) {  // x axis
                    let d = lab[1];
                    let n = d[0];
                    let t = d[1];
                    svgd3.append("text")
                            .text(n)
                            .style("text-anchor", "middle")
                            .attr("x", InitialOffsetX+(this.width-InitialOffsetX)/2)
                            .attr("y", 60);
                    for ( let i = 0 ; i < t.length ; i++ ) {
                        svgd3.append("text")
                            .text(t[i])
                            .style("text-anchor", "middle")
                            .attr("x", InitialOffsetX+sx*(i+.5))
                            .attr("y", 90);
                    }
                }
                if ( labsize >= 3 ) {  // y2 axis
                    let d = lab[2];
                    let n = d[0];
                    let t = d[1];
                    let line_x = 45
                    let h2 = this.tab[0][0].length;
                    let sy2 = sy/h2;
                    // svgd3.append("line")
                    //     .attr("x1", line_x)
                    //     .attr("y1", InitialOffsetY)
                    //     .attr("x2", line_x)
                    //     .attr("y2", this.height)
                    //     .attr("stroke-width", .5)
                    //     .attr("stroke", "black")
                    svgd3.append("text")
                            .text(n)
                            .style("text-anchor", "middle")
                            .attr("font-size", "0.8em")
                            .attr("transform", "rotate(-90)")
                            .attr("x", -InitialOffsetY-sy/2)
                            .attr("y", 10);
                    for ( let i = 0 ; i < t.length ; i++ ) {
                        svgd3.append("text")
                            .text(t[i])
                            .style("text-anchor", "middle")
                            .attr("font-size", "0.5em")
                            .attr("x", 30)
                            .attr("y", InitialOffsetY+sy2*(i+.5));
                    }
                }
                if ( labsize >= 4 ) {  // x2 axis
                    let d = lab[3];

                }
            }
            svgd3.append("rect")
                .attr("x", InitialOffsetX)
                .attr("y", InitialOffsetY)
                .attr("width", this.width)
                .attr("height", this.height)
                .attr("stroke", "white")
                .attr("fill", "white")
                .attr("class", "cellA")
            for ( let i = 0 ; i < w ; i++ ) {
                for ( let j = 0 ; j < h ; j++ ) {
                    let offsetX = sx*i+InitialOffsetX
                    let offsetY = sy*j+InitialOffsetY
                    let cell = this.tab[j][i];
                    let h2 = cell.length;
                    let sy2 = (sy-sepCell*(j!=h-1))/h2;
                    for ( let k = 0 ; k < h2 ; k++ ) {
                        let w2 = cell[k].length;
                        let sx2 = (sx-sepCell*(i!=w-1))/w2;
                        for ( let l = 0 ; l < w2 ; l++ ) {
                            let cell2 = cell[k][l]
                            let d3obj = svgd3.append("rect")
                                .attr("x", offsetX+sx2*l)
                                .attr("y", offsetY+sy2*k)
                                .attr("width", sx2)
                                .attr("height", sy2)
                                .attr("fill", cell2.c)
                                .attr("stroke", "gray")
                                .attr("class", "cellB")
                                .on("mouseover", mouseOver(cell2))
                                .on("mousemove", mouseMove(cell2))
                                .on("mouseleave", mouseLeave(cell2))
                        }
                    }
                }
            } 
        },
        deleteInstrSvg: function() {
            this.svgd3.selectAll("*").remove();
            [...document.getElementsByClassName("tooltip")].map(n => n && n.remove());
        }
    }
};
</script>
<style scoped lang="scss">

</style>